@model DesgrudaCoisa.Models.Anuncio

@{
    ViewBag.Title = "Detalhes do Anúncio";
}
<link href="~/SiteView/CSS/DetalhesAnuncio.css" rel="stylesheet" type="text/css" />
@*TODO: TEM UM JS PARA VINCULAR A ESSE HTML...*@
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Detalhes do Anúncio</h2>
        </div>
        <div class="col-xs-4 item-photo">
            @if (@Model.Imagem.ImageUrl != null)
            {
                <img style="max-width:100%;" src="@Model.Imagem.ImageUrl" />
            }
            else
            {
                <img style="max-width:100%;" src="@Url.Action("GetImage", "Anuncio", new { id = @Model.AnuncioID})" />
            }
        </div>
        <div class="col-xs-5" style="border:0px solid gray">

            <h3>@Html.DisplayFor(model => model.TituloAnuncio)</h3>
            <h4 style="color:#337ab7">vendido por <a href="#">Desgruda Algo</a></h4>

            <h5 class="title-price"><small>Descrição do Anúncio:</small></h5>
            <h4 style="margin-top:0px;">@Html.DisplayFor(model => model.Descricao)</h4>

            <h5 class="title-price"><small>Preço:</small></h5>
            <h4 style="margin-top:0px;">R$ @Html.DisplayFor(model => model.Valor)</h4>

            <h5 class="title-price"><small>Localização:</small></h5>
            <h4 style="margin-top:0px;">@Html.DisplayFor(model => model.Local)</h4>

            <h5 class="title-price"><small>Email do Vendedor:</small></h5>
            <h4 style="margin-top:0px;">@Html.DisplayFor(model => model.VendedorEmail)</h4>

            <!-- Botao de compra -->
            @if (Model.Status.Descricao == "Disponivel")
            {
                <div class="section" style="padding-bottom:20px;">
                    @Html.ActionLink("Comprar", "ComprarAnuncio",
                                      new { id = @Model.AnuncioID },
                                      new
                                      {
                                          data_id = @Model.AnuncioID,
                                          @class = "ComprarAnuncio btn btn-success glyphicon glyphicon-shopping-cart"
                                      })
                </div>
            }
            else if (Model.Status.Descricao == "Em negociacao")
            {
                <div id="anuncio_negociacao">
                    <h4 style="margin-top:0px; padding-top:15px; color:red">Anúncio em Negociação</h4>
                </div>
            }
            else if (Model.Status.Descricao == "Vendido")
            {
                <div id="anuncio_vendido">
                    <h4 style="margin-top:0px; padding-top:15px; color:red">Anúncio está Vendido</h4>

                    @if (Model.Avaliado == true)
                    {
                        <h4 style="margin-top:0px; padding-top:15px; color:yellow">O Anúncio foi avaliado em @Model.numeroEstrelas estrelas</h4>    
                    }
                </div>
            }
        </div>
    </div>
    @if (Model.Status.Descricao == "Disponivel" || Model.Status.Descricao == "Em negociacao")
    {
        <div class="panel-body">
            <form role="form">
                <fieldset>
                    <div class="form-group">
                        <textarea class="form-control" id="textAreaFazPergunta" rows="3" placeholder="Fazer perguntas"></textarea>
                    </div>
                    @Html.ActionLink("Confirmar", "FazerPergunta",
                                   new { id = @Model.AnuncioID },
                                   new
                                   {
                                       data_id = @Model.AnuncioID,
                                       @class = "FazerPergunta btn btn-success",
                                       @id = "button-perguntar"
                                   })
                </fieldset>
            </form>
        </div>
    }
    @if (ViewBag.faqs != null)
    {
        <div class="container-perg-resp">
            <div class="questions-block">
                <ul class="questions-list">
                    @foreach (var faq in ViewBag.faqs)
                {
                    var f = @faq.Pergunta;
                        <li class="question-group-1 ">
                            <article class="questions-list-question">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                <p><b>@faq.Pergunta</b></p>
                                @if (@faq.Resposta != null)
                                {
                                    <p>@faq.Resposta</p>
                                }
                                else if(ViewBag.VendedorLogado == true)
                                {
                                    @Html.ActionLink("Responder", "ResponderPergunta",
                                          new { id = @Model.AnuncioID },
                                          new
                                          {
                                              data_id = @Model.AnuncioID,
                                              pergunta = @faq.Pergunta,
                                              @class = "ResponderAnuncio btn btn-default btn-sm"
                                          })
                                }
                            </article>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    <div hidden id="confirmar-dialog" title="Confirmação de compra">
        <p>Deseja realmente comprar este Anuncio?</p>
    </div>
    <div hidden id="responder-dialog" title="Faça sua pergunta">
        <p>Deseja realmente responder este Anuncio?</p>
        <textarea id='textArea' style=" padding-bottom: 20px;margin-top: 5px;" rows='5' cols='50'></textarea>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <script>
        var deleteLinkObj;
        var recordToDelete;
        var respondeAnuncioId;
        var descricacaoPergunta;
        var idAnuncio
        $(document).ready(function () {
            $('.ComprarAnuncio').click(function () {
                deleteLinkObj = $(this);
                recordToDelete = $(this).attr("data-id");
                $('#confirmar-dialog').dialog('open');
                return false;
            })
            $('.ResponderAnuncio').click(function () {
                deleteLinkObj = $(this);
                respondeAnuncioId = $(this).attr("data-id");
                descricacaoPergunta = $(this).attr("pergunta");
                $('#responder-dialog').dialog('open');
                return false;
            })
        });
        $('#confirmar-dialog').dialog({
            autoOpen: false, width: 400, resizable: false,
            modal: true, dialogClass: 'button',
            buttons: {
                "Confirmar": function () {
                    $.post("/Anuncio/ComprarAnuncio", { "id": recordToDelete })
                        .done(function (data) {
                            if (data.Message == undefined) {
                                //Gambiarra, por falta de tempo :)
                                alert("Você precisa logar para Comprar o Anúncio");
                            } else {
                                alert(data.Message);
                            }
                            deleteLinkObj.closest("tr").hide('fast');
                        })
                        .fail(function () {
                            alert("Ocorreu um erro. Anúncio não comprado " + data.Message);
                        });
                    $(this).dialog("close");
                    window.location.reload();
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });
        $('#responder-dialog').dialog({
            autoOpen: false, width: 400, resizable: false,
            modal: true, dialogClass: 'button',
            buttons: {
                "Confirmar": function () {
                    $.post("/Anuncio/ResponderAnuncio", { "id": respondeAnuncioId, "contentResposta": $("#textArea").val(), "pergunta": descricacaoPergunta })
                        .done(function (data) {
                            if (data.Message == undefined) {
                                alert("Você precisa logar para Responder o Anúncio");
                            } else {
                                alert(data.Message);
                            }
                            deleteLinkObj.closest("tr").hide('fast');
                        })
                        .fail(function () {
                            alert("Acontenceu algum Erro. Mensagem não enviada");
                        });
                    $(this).dialog("close");
                    window.location.reload();
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });
        $('.FazerPergunta').click(function () {
            deleteLinkObj = $(this);
            idAnuncio = $(this).attr("data-id");

            $.post("/Anuncio/FazerPergunta", { "id": idAnuncio, "conteudoPergunta": $('#textAreaFazPergunta').val() })
                .done(function (data) {
                    if (data.Message == undefined) {
                        //Gambiarra, por falta de tempo :)
                        alert("Você precisa logar para Fazer perguntas no Anúncio");
                    } else {
                        alert(data.Message);
                    }
                    deleteLinkObj.closest("tr").hide('fast');
                })
                .fail(function () {
                    alert("Acontenceu algum Erro. Pergunta não enviada");
                });
            window.location.reload();
            return false;
        })
    </script>
}
